Docs/
Lab1/cosss_test.wav
Lab1/cosss.wav
Lab1/FJ59_01.wav
Lab1/laaaaaaan1.asv
Lab1/ML70_06.wav
Lab2/__pycache__
Lab2/dc.wav
Lab2/dc+reverb.wav
Lab2/Eric_Johnson_-_S.R.V._(SkySound.cc).wav
Lab2/fcl.wav
Lab2/filter_5.mat
Lab2/output.wav
Lab2/result.wav
Lab2/main.py
Lab2/test_signal_modulated.wav
Lab2/test_signal.wav
Lab2/var_5.mat
Lab3/__pycache__
Lab4/__pycachy__